<div class="page-header">
  <h1 class="text-info">Your application <small>gang of broken belt - movies</small></h1>
	<p>
		<a href="http://angularjs.org/" class="btn btn-danger btn-lg">
			AngularJS
		</a>
		<a href="http://backbonejs.org/" class="btn btn-primary btn-lg">
			BackboneJS
		</a>
	</p>
</div>