<div class="page-header">
  <h1 class="text-info">Documentation<small>- REST API</small></h1>
</div>

<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item"><a href="#movies-get">GET /api/movies</a></li>
      <li class="list-group-item"><a href="#movies-get-show">GET /api/movies/{id}</a></li>
      <li class="list-group-item"><a href="#categories-get">GET /api/categories</a></li>
      <li class="list-group-item"><a href="#users-get">GET /api/users/self</a></li>
      <li class="list-group-item"><a href="#users-put">PUT /api/users/self</a></li>
      <li class="list-group-item"><a href="#comments-post">POST /api/comments</a></li>
      <li class="list-group-item"><a href="#comments-delete">DELETE /api/comments/{id}</a></li>
      <li class="list-group-item"><a href="#users-movies">GET /api/users/{id}/movies</a></li>
      <li class="list-group-item"><a href="#movies-like">POST /api/movies/{id}/like</a></li>
      <li class="list-group-item"><a href="#movies-dislike">POST /api/movies/{id}/dislike</a></li>
    </ul>
  </div>

  <div class="col-md-9">
      <h3 id="movies-get" class="text-info">GET <a href="/api/movies">/api/movies</a></h3>
        <h4>Paramètres</h4>
        <p>keyword, categoryId, offset, limit</p>
        <h4>Description</h4>
        <p>Recherche de films vérifiant les éventuels paramètres passés</p>
        <h4>Réponse</h4>
        <pre>
        [
          {
            "id": 22,
            "title": "Django Unchained",
            "description": "Django Unchained ou Django déchaîné au Québec et au Nouveau-Brunswick est un western spaghetti1 américain écrit et réalisé par Quentin Tarantino, sorti en 2012.\nNommé pour cinq Oscars dont celui du meilleur film en 2013, le film est récompensé à deux reprises ; meilleur acteur dans un second rôle pour Christoph Waltz et meilleur scénario original pour Quentin Tarantino.",
            "image": "http://upload.wikimedia.org/wikipedia/fr/thumb/2/20/Django_Unchained_logo.JPG/220px-Django_Unchained_logo.JPG",
            "trailerUrl": "http://www.allocine.fr/_video/iblogvision.aspx?cmedia=19353314",
            "rate": 4,
            "comments": {
              "count": 0
            }
          },
        ]
        </pre>

      <h3 id="movies-get-show" class="text-info">GET <a href="/api/movies/{id}">/api/movies/{id}</a></h3>
        <h4>Description</h4>
        <p>Movie détaillé</p>
        <h4>Réponse</h4>
        <pre>
      {
        "id": 2,
        "title": "The Dark Knight Rises",
        "description": "Batman est un personnage de fiction créé par Bob Kane et Bill Finger dans Detective Comics #27 en mai 1939. C'est un héros, à l'origine nommé \"Bat-Man\", qui a la particularité d’être sans pouvoirs. L'homme qui se cache sous ce costume est connu sous le nom de Bruce Wayne, bien que le costume et le nom aient été quelquefois utilisés par d'autres. Des surnoms lui sont parfois accolés : The caped crusader, The Dark Knight, The world greatest Detectiven 1. Batman opère dans la ville fictive américaine de Gotham City, aidé par des personnages tels que Robin, son maître d'hôtel Alfred Pennyworth ou encore le commissaire de police Jim Gordon.",
        "image": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQNkURy_6q8fd6hoYSjZ0fGsx8_unpvTIjjbla94ud6op2Yn66MTw",
        "trailerUrl": "http://www.allocine.fr/_video/iblogvision.aspx?cmedia=19340318",
        "rate": 4,
        "category": {
          "name": "comics",
          "id": 7
        },
        "comments": {
          "count": 0,
          "items": []
        }
      }
        </pre>

      <h3 id="categories-get" class="text-info">GET <a href="/api/categories">/api/categories</a></h3>
        <h4>Description</h4>
        <p>Liste des catégories</p>
        <h4>format</h4>
        <pre>
        {
          "id": 1,
          "name": "action",
          "movies": 2
        },
        {
          "id": 2,
          "name": "aventure",
          "movies": 3
        },
        </pre>

      <h3 id="users-get" class="text-info">GET <a href="/api/users/self">/api/users/self</a></h3>
        <h4>Description</h4>
        <p>User détaillé</p>
        <h4>Réponse</h4>
        <pre>
      {
        "id": 1,
        "username": "bhtz",
        "firstname": "Benjamin",
        "lastname": "Heintz",
        "email": "heintz.benjamin@gmail.com",
        "gender": "male",
        "city": "Clermont-Ferrand",
        "birthday": "1987-06-25T16:19:56.000Z"
      }
        </pre>

      <h3 id="users-put" class="text-info">PUT <a href="/api/users/self">/api/users/self</a></h3>
        <h4>Description</h4>
        <p>Mise à jour profil utilisateur</p>
        <h4>Format</h4>
        <pre>
      {
        "firstname": "Benjamin",
        "lastname": "Heintz",
        "email": "heintz.benjamin@gmail.com",
        "gender": "male",
        "city": "Clermont-Ferrand",
        "birthday": "1987-06-25T16:19:56.000Z"
      }
        </pre>

      <h3 id="comments-post" class="text-info">POST /api/comments</h3>
        <h4>Description</h4>
        <p>Création d’un commentaire</p>
        <h4>Format</h4>
        <pre>
        {
          "content" : "lorem ipsum",
          "movieId" : "1"
        }
        </pre>

      <h3 id="comments-delete" class="text-info">DELETE /api/comments/{id}</h3>
        <h4>Description</h4>
        <p>Suppression d’un commentaire</p>
        <h4>format</h4>

      <h3 id="users-movies" class="text-info">GET /api/users/{id}/movies</h3>
        <h4>Description</h4>
        <p>Liste des movies que le user a liké</p>
        <h4>Format</h4>
        <pre>
        {
          "id": 20,
          "title": "Space Cowboys",
          "description": "Space Cowboys is a 2000 space drama film directed and produced by Clint Eastwood. Eastwood also stars in the film alongside Tommy Lee Jones, Donald Sutherland, and James Garner as four older \"ex-test pilots\" who are sent into space to repair an old Soviet satellite, unaware that it is armed with nuclear missiles. The original music score was composed by Eastwood and Lennie Niehaus.",
          "image": "http://upload.wikimedia.org/wikipedia/en/thumb/9/93/Space_cowboys_ver3.jpg/220px-Space_cowboys_ver3.jpg",
          "trailerUrl": "http://www.allocine.fr/_video/iblogvision.aspx?cmedia=19409628",
          "rate": 2,
          "comments": {
            "count": null
          }
        }
        </pre>

      <h3 id="movies-like" class="text-info">POST /api/movies/{id}/like</h3>
        <h4>Description</h4>
        <p>like d'un movie</p>

      <h3 id="movies-dislike" class="text-info">POST /api/movies/{id}/dislike</h3>
        <h4>Description</h4>
        <p>dislike d'un movie</p>

  </div>
</div>