<div class="jumbotron text-center">
  <div class="container">
	<h1>Gang Of Broken Belt <small>rest api application</small></h1>
	<p>
		<a href="/home/documentation" class="btn btn-primary btn-lg">
			Read the REST API docs
		</a>
		<a href="https://github.com/gang-of-bb/gangofbb-rest-api" class="btn btn-danger btn-lg">
			Show Github
		</a>
	</p>
  </div>
</div>

<div class="row">
	<div class="col-md-4 col-sm-12">
		<div class="panel panel-danger">
		  <div class="panel-heading">
		    <h3 class="text-center text-danger">AngularJS</h3>
		  </div>
		  <div class="panel-body text-center">
		  	<img src="/images/angularjs.jpg" class="home-panel-logos">
		  </div>
		</div>
	</div>

	<div class="col-md-4 col-sm-12">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="text-center text-success">BackboneJS</h3>
		  </div>
		  <div class="panel-body text-center">
		  	<img src="/images/backbonejs.jpg" class="home-panel-logos">
		  </div>
		</div>
	</div>

	<div class="col-md-4 col-sm-12">
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="text-center text-info">microscopejs</h3>
		  </div>
		  <div class="panel-body text-center">
		  	<img src="/images/logo.png" class="home-panel-logos">
		  </div>
		</div>
	</div>
</div>