<div class="jumbotron text-center">
  <div class="container">
	<h1>Gang Of Broken Belt <small>rest api application</small></h1>
	<p>
		<a href="/home/documentation" class="btn btn-primary btn-lg">
			Read the REST API docs
		</a>
		<a href="https://github.com/bhtz/microscopejs" class="btn btn-danger btn-lg">
			Show Github
		</a>
	</p>
  </div>
</div>