<div class="page-header">
  <h1 class="text-info">Gang Of Broken Belt <small> team</small></h1>
</div>

<div class="row">
	<div class="col-md-3 col-sm-12">
		<div class="panel panel-danger">
		  <div class="panel-heading">
		    <h3 class="text-center text-danger">Frederic Barrière</h3>
		  </div>
		  <div class="panel-body text-center">
		  	<img src="/images/avatar/mangatar-fbarriere.png" class="home-panel-logos">
		  </div>
		</div>
	</div>

	<div class="col-md-3 col-sm-12">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="text-center text-success">Julien Muetton</h3>
		  </div>
		  <div class="panel-body text-center">
		  	<a href="https://github.com/themouette">
<!-- 		  		<img src="https://fr.gravatar.com/userimage/13608155/31845ebb697804ed58577e74b88edd19.jpeg" class="home-panel-logos"> -->
		  		<img src="http://img.imagesia.com/fichiers/22/barfleur-oiseau-1-pm_imagesia-com_22i9_large.jpg" class="home-panel-logos">
		  	</a>
		  </div>
		</div>
	</div>

	<div class="col-md-3 col-sm-12">
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="text-center text-info">Benjamin Heintz</h3>
		  </div>
		  <div class="panel-body text-center">
		  	<a href="https://github.com/bhtz">
		  		<img src="/images/avatar/mangatar-bhtz.png" class="home-panel-logos">
		  	</a>
		  </div>
		</div>
	</div>

	<div class="col-md-3 col-sm-12">
		<div class="panel panel-warning">
		  <div class="panel-heading">
		    <h3 class="text-center text-warning">Emeric Stophe</h3>
		  </div>
		  <div class="panel-body text-center">
		  	<a href="https://github.com/cireme">
		  		<img src="/images/backbonejs.jpg" class="home-panel-logos">
		  	</a>
		  </div>
		</div>
	</div>
</div>